.otherCompaniesContainer {
    width: 80%;
    min-height: 100px;
    background-color: white;
    margin: auto;
    margin-bottom: 25px;
}

.otherCompaniesBody {
    align-items: center;
    background: #ffffff;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}


/* @mixin white-gradient */
/* No equivalent in pure CSS */

/* $animationSpeed */
:root {
    --animation-speed: 40s;
}

/* @keyframes scroll */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

/* .slider */
.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

/* .slider::before, .slider::after */
.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

/* .slider::after */
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

/* .slider::before */
.slider::before {
    left: 0;
    top: 0;
}

/* .slider .slide-track */
.slider .slide-track {
    animation: scroll var(--animation-speed) linear infinite;
    display: flex;
    width: calc(250px * 14);
}

/* .slider .slide */
.slider .slide {
    height: 100px;
    width: 250px;
}

.slide {
    box-shadow: none;
}